.cards__div {
  align-items: center;
  border: 1px solid black;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  height: 500px;
  margin: 0 20px;
  max-width: 400px;
  width: 100%;
}

.cards__img {
  border-radius: 20px;
  width: 280px;
}

.cards__label {
  display: block;
  text-align: center;
}
