form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.forms__div {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}

.form-select {
  border: 1px solid blue;
  border-radius: 30px;
  height: 30px;
  margin: 5px 20px;
  text-align: center;
}

select {
  width: 150px;
}

label {
  align-items: center;
  color: darkblue;
  display: flex;
  justify-content: space-between;
  width: 300px;
}
